*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    /* background-color: #F5EBDF; */
    background-color: #eee;
    margin: 0 auto;
    max-width: 100%;
}
.headerAndNav{
    position: fixed;
    /* background-color: #F5EBDF; */
    background-color: #eee;
    z-index: 100; 
    top: 0;
    width: 100%;
    right: 0;
}
header{
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    position: relative;
    

}

.title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form_follower{
    position: absolute;
    left: 10%;
}

.form_follower span{
    color: #565C62;
}

.form_follower i{
    margin-left: 5px;
}

.form_search{
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 63%;

}
.form_search input{
    padding: 12px;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 0px;
    font-size: 15px;
}
.form_search i{
    padding: 12px;
    border: none;
    background-color: rgb(176, 171, 171);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    
}


.formLoginAndCart{
    left: 80%;
    position: absolute;
}
.iconLogin ,a .iconCart{
    width: 40px;
    height: 40px;
    margin-left: 30px;
    cursor: pointer;
}

.formLoginAndCart .quantity{
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    top: 40%;
    left: 90%;
}

nav{
    position: fixed;;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(221, 218, 218);
    /* box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.8);  */
    /* box-shadow: 1px 1px 10px rgba(205, 202, 202, 0.8);  */
    transition: top 0.3s;
    width: 100%;
    /* top: 0px; */
    /* background-color: #F5EBDF; */
    background-color: #eee;
}
nav li{
    list-style: none;
    margin:  0 40px;
}

nav li a{
    text-decoration: none;
    font-size: 18px;
    color: #565C62;
    font-weight: 520;
}
nav li a:hover{
    text-decoration: none;
    font-size: 18px;
    color: red;
    font-weight: bold;
}

.slideshow{
    width: 80%;
    height: 450px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    position: relative;
    z-index: 1;

}

.bannerMain{
    width: 100%;
    height: 100%;
}

.fa-circle-chevron-left{
    position: absolute;
    top: 45%;
    left: 40px;
    font-size: 35px;
    cursor: pointer;
}
.fa-circle-chevron-right{
    position: absolute;
    top: 45%;
    right: 40px;
    font-size: 35px;
    cursor: pointer;
}

.thumb img{
    width: 90%;
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25); */

}

.listProducts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    margin: 0 auto;
    width: 78%;
    padding: 40px 0;
    position: relative;
}

.item{
    text-align: center;
    font-weight: 400;
    padding: 0 0 20px 0;
    color: #565C62;
    /* background-color: #eee ; */
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    
}

.item:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.name{
    width: 90%;
    margin: 0px auto;

    padding: 10px 0;
}
.name a{
    max-lines: 3;
    text-decoration: none;
    color: #565C62;
}

.name a:hover{
    list-style: none;
    color: orangered;

}
.price{
    padding-bottom: 10px;
    font-weight: bold;
    color: orangered;
}

.btnAddToCart{
    color: white;
    background-color: #353432;
    padding: 10px;
    width: 150px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
}

.bannerPhu{
    width: 80%;
    height: 400px;
    margin: 0 auto;

}
.imgBannerPhu{
    width: 100%;
    height: 100%;
}

.labelFeedback{
    margin: 30px 0;
    text-align: center;

}
.labelFeedback a{
    font-size: 22px;
    color: black;
    font-weight: bold;
    list-style: none;
}

.bannerFeedback{
    margin: 0 auto;
    width: 80%;
    height: 400px;
}

.bannerFeedback img{
    width: 100%;
    height: 100%;
}

footer{
    width: 100%;
    margin-top: 50px;
    background-color: #282b2e;
    color: whitesmoke;
    padding: 50px 0;
    
}
.footerContainer{
    display: flex;

    text-align: center;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
}

.form_email{
    display: flex;
    justify-content: center;
        
}
.form_email input{
    padding: 10px;
    border: none;
    width: 300px;
    margin-right: 0px;
    font-size: 10px;
    border: 1px solid white;

}
.form_email button{
    padding: 10px;
    border: none;
    background-color: #282b2e;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid white;
    color: white;

}

.thuonghieu,
.hotro,
.hethong {
    font-size: 15px;
    flex: 1;
    margin: 0 10px;
    line-height: 30px;
}




/* .cartTab{
    position: fixed;
    inset: 0 -500px 0 auto;
    width: 500px;
    display: grid;
    background-color: #353432;
    display: grid;
    grid-template-rows: 70px 1fr 50px;
    overflow: auto;
    z-index: 1000;
}


.cartTab .title{
    color: #eee;
    font-style: 400;
    font-size: 20px;
    padding: 20px;
    text-align:left;
}

.cartTab .thumb img{
    width: 100%;
}

.cartTab .btnCart{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  
}


.cartTab .btnCart button{
    color: black;
    font-weight:500;
}

.cartTab .btnCart .close{
    margin: 0;
    background-color: #eee;
}

.cartTab .btnCart .checkOut{
    margin: 0;
    background-color: orangered;
    color: white;
}

.cartTab .listCarts .itemCart{
    padding: 10px;
    color: #eee;
    display: grid;
    align-items: center;
    grid-template-columns: 70px 250px 60px 1fr;
}

.cartTab .listCarts .itemCart .quantityCart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cartTab .listCarts .itemCart .name {
    text-align: justify;
}

.cartTab .listCarts .itemCart .totalPrice {
    text-align: center;
}

.cartTab .listCarts .itemCart .quantityCart span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: black;
    border-radius: 50%;
    
    cursor: pointer;
}

.cartTab .listCarts .itemCart .quantityCart span:nth-child(2){
    background-color: transparent;
    color: #eee;
}

.cartTab .listCarts .itemCart:nth-child(2n){
    background-color: #eee1;
}


.showCartTab{
    inset: 0 0 0 auto;
} */













